@import 'variables';
@import 'mixins';

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background: $light-blue;
  margin: 0;
  padding: 0;
}

nav {
  @include flex-column;
  background-color: #e7dec8;
}

main {
  @include flex-center-column;
  color: #cbaf87;
}

h1 {
  color: $dark-blue;
  font-size: 2em;
}

li {
  @include flex-row-center;
  padding: 2% 10%;
}

button {
  cursor: pointer;
}

.login-title {
  align-self: center;
}

.guest-nav {
  @include flex-column;
}

.nav-headings {
  @include flex-row-between;
  margin-top: .5%;
  align-items: center;
}

.nav-details {
  @include flex-row-between;
  margin-bottom: 2%;
}

.nav-booking-form {
  @include flex-column;
  align-self: flex-start;
  margin-left: 5%;
  width: 33%;
}

.nav-text {
  color: $dark-blue;
  margin: .5% 5%;
}

.nav-form-heading {
  margin-left: 0;
}

.date-availability-input {
  @include nav-inputs;
  @include button-input-borders;
  margin: 1.5% 0;
}

.date-availability-button {
  @include button-input-borders;
  @include button-colors;
}

.main-title {
  margin: 7% 0 0 0;
}

.login-form {
  @include flex-center-column;
  @include cards;
  height: 50vh;
  ::-webkit-input-placeholder {
    text-align: center;
  }
}

.reservation-cards {
  @include cards;
  @include flex-column;
  align-items: center;
}

.room-history-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  align-items: flex-start;
}

.room-cards {
  @include cards;
  @include flex-column;
  margin: 2%;
}

.room-card-title {
  align-self: center;
  margin-bottom: 0;
}

.room-list {
  @include flex-column;
  padding: 0;
  list-style: circle;
}

.room-list-item {
  align-self: flex-start;
  padding: 1% 5%;
}

.book-room-button {
  @include button-colors;
  @include button-input-borders;
  margin: 0 8% 8% 8%;
  align-self: center;
  width: 50%;
}

.room-type-form {
  @include flex-column;
  width: 70%;
  align-self: center;
  align-content: center;
}

.filter-room-title {
  color: $dark-blue;
  align-self: center;
  margin: 10% 0 0 0;
}

.filter-form-inputs {
  @include flex-row-center;
  align-self: center;
  width: 100%;
}

.room-type-inputs {
  @include button-input-borders;
  width: 33%;
  align-self: center;
  margin: 5% 3%;
}

.room-type-button {
  @include button-colors;
  @include button-input-borders;
  margin: 5% 3%;
  width: 33%;
  align-self: center;
}

.login-input {
  @include login-inputs;
  @include button-input-borders;
}

.login-button {
  @include login-inputs;
  @include button-colors;
  @include button-input-borders;
}

.manager-nav {
  @include flex-column;
}

.manager-nav-heading {
  @include flex-row-between;
  align-items: flex-start;
}

.manager-nav-title-block {
  width: 50%;
}

.manager-nav-title, {
  margin: 2% 0 0 5%;
}

.manager-nav-details-block {
  @include flex-column;
  margin: 2% 5%;
  width: 22%;
}

.manager-nav-details {
  color: $dark-blue;
  margin: .5% 0;
}

.manager-nav-forms {
  @include flex-row-between;
  margin-bottom: 2%;
}

.manager-user-form {
  margin-left: 2%;
  width: 50%;
}

.manager-date-form {
  width: 27%;
}

.manager-nav-button {
  @include button-colors;
  @include button-input-borders;
  padding: 0 2% 0 2%;
}

.manager-nav-input {
  @include button-input-borders;
  align-self: center;
  margin-right: 2%;
}

.manager-nav-form-title {
  color: $dark-blue;
  margin: 0 0 1% 0;
}

.guest-name-input {
  @include nav-inputs;
  @include button-input-borders;
  width: 50%;
  align-self: center;
  margin: 0;
}

.manager-book-room-button {
  @include button-colors;
  @include button-input-borders;
  width: 50%;
  align-self: center;
  margin: 3% 0 5% 0
}

.customer-info {
  width: 30%;
}

.dashboard-link {
  margin-top: 5%;
  text-decoration: underline;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
  cursor: pointer;
}

.booking-success-message {
  align-self: center;
  color: $confirmation-green;
}

.cancel-confirmation {
  margin: 0 5%;
  color: $confirmation-green;
}

.cancel-room-button {
  @include button-input-borders;
  background-color: $error-red;
  margin-left: 10%;
  width: 25%;
  color: #FFF;
  &:hover {
    opacity: 75%;
  }
}

.error-message {
  color: $error-red;
  align-self: center;
  margin: 1%;
}

@media only screen and (max-width: 1300px) {
  .login-form, .reservation-cards, .room-cards {
    width: 58%;
  }

  .manager-nav-details-block {
    width: 30%;
  }

  .manager-date-form {
    width: 35%;
  }
}

@media only screen and (max-width: 1100px) {
  .login-form, .reservation-cards, .room-cards {
    width: 65%;
  }

  .manager-nav-details-block {
    width: 40%;
  }

  .manager-date-form {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {

  .login-form {
    @include mobileCards;
    height: 30vh;
  }

  .login-title {
    font-size: 1.25em;
  }

  .manager-nav, .nav-headings {
    @include flex-column;
  }

  .manager-nav-heading, .manager-nav-forms {
    @include flex-center-column;
  }

  .manager-nav-title-block {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .manager-nav-details-block {
    width: 90%;
    margin: 0;
    align-content: center;
  }

  .manager-user-form, .manager-date-form{
    width: 90%;
    margin: 5%;
  }

  .manager-nav-details {
    margin: 0;
    align-self: center;
  }

  .manager-nav-title {
    align-self: center;
    font-size: 1.75em;
  }

  .main-title {
    text-align: center;
    font-size: 1.75em;
  }

  .reservation-cards, .room-cards {
    @include mobileCards;
  }

  .cancel-room-button {
    width: 40%;
  }

  .room-type-button {
    width: 80%;
  }

  .nav-details {
    flex-direction: column-reverse;
  }

  .nav-text, .nav-booking-form {
    align-self: center;
  }

  .date-availability-input, .customer-nav-button {
    width: 150%;
    align-self: center;
    margin: 2%;
  }

  .nav-form-heading {
    margin-top: 10%;
    font-size: 1em;
  }

  .manager-nav-input, .manager-nav-button, .room-type-inputs {
    width: 45%;
  }

  .manager-book-room-button, .guest-name-input {
    width: 75%;
  }

  .filter-form-inputs {
    width: 100%;
  }

  .room-type-form {
    width: 90%;
  }

  .error-message {
    font-size: .9em;
    text-align: center;
    margin: 5%;
  }

  .booking-success-message {
    margin: 3%;
    text-align: center;
  }

  .main-title {
    font-size: 1.25em;
  }

  .cancel-confirmation {
    font-size: .75em;
  }

  .customer-info {
    align-self: center;
    width: 100%;
    text-align: center;
  }
}
