@import 'variables';

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin login-inputs {
  width: 50%;
  margin: 2%;
  height: 30px;
  border-radius: 5px;
  border: black solid .25px;
  outline: none;
  padding: 0 2% 0 2%;
}

@mixin nav-inputs {
  margin: 1.5% 0;
}

@mixin cards {
  background-color: $dark-tan;
  color: $dark-blue;
  margin: 7%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 3px 4px #00000070;
}
@mixin button-colors {
  background-color: $dark-blue;
  color: #FFF;
  &:hover {
    opacity: 90%;
  }
}

@mixin button-input-borders {
  border-radius: 5px;
  border: black solid .25px;
  outline: none;
  padding: 0 2% 0 2%;
  height: 30px;
}
