$light-tan: #e7dec8;
$dark-tan: #cbaf87;
$light-blue: #7e8a97;
$dark-blue: #30475e;
$error-red: #ff3333;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin inputs {
  width: 50%;
  margin: 2%;
  height: 30px;
  border-radius: 5px;
  border: black solid .25px;
  outline: none;
  padding: 0 2% 0 2%;
}
